.banner-search
{
    background:url(../images/bginside.jpg) #111;
    color: #fff;
    padding: 20px 0 20px 0; 
    font-size: 16px;
}
.banner-search h3
{
    color: #fff;
}
select,input[type="text"]
{  
  margin-bottom: 20px;
}
#loginPointer
{
    margin-top:30px;
    margin-bottom:30px;
}
#btnFind
{
    margin-top:21px;

}
h5{
    font-weight:bolder;
}
.spacer{margin-top: 40px;margin-bottom:40px;}
.recommended{position: relative;}
.recommended .carousel-indicators{position: absolute;text-align: left;left: 0;bottom: -40px;margin: 0;}
.recommended .carousel-indicators li{border: 1px solid #888;}
.recommended .carousel-indicators .active{background-color:#ccc; }
.recommended p{margin: 5px 0 10px 0;}
