.inside-banner{background:url(../images/bginside.jpg) #222;color: #fff; padding: 30px 0;}
.inside-banner h2{margin: 0; color: #fff;}
.inside-banner span{margin-top: 10px;}

.register input,.register textarea, .register select  {padding: 10px; height: 50px; margin-bottom: 15px;}
.spacer{margin-top: 40px;margin-bottom:40px;}

.fileupload,input[type=text],input[type=image],.WriteReview textarea, .WriteReview select{padding: 10px; height: 50px; margin-bottom: 15px;}


.display
{
    margin-top:100px;
}
.displayImg
{
    margin-bottom:100px;
}
.rated{
    color:black;
    font-size:medium;
    background-color:gold;
}